<?xml version="1.0"?>
<launch>
    <param name="filename" value="$(find path_publisher)/../../../logged_trj.csv"/>
    <!-- path_mode bitmask:
        1: adx plan
        2: ros standard path
        4: binary
    -->
    <param name="path_mode" value="5" />
    <param name="fixed_frame" value="camera_init"/>
    <node name="path_publisher_node" pkg="path_publisher" type="path_publisher_node" output="screen">

        <remap from="/path" to="/path" />
        <remap from="/plan" to="/plan" />
    </node>
</launch>
